In [1]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv('data/prepocessed.csv', encoding='utf8', engine='python')
data = data.drop(data.columns[0], axis=1)
data = data.loc[data['State'] == 'Arizona']

In [4]:
data.to_csv('data/Arizona.csv', ',', encoding='utf8')

In [9]:
dataArizona = pd.read_csv('data/Arizona.csv')
dataArizona = data.groupby(['Date Local', 'County Code']).mean().reset_index()

In [10]:
dataArizona.head()

,Date Local,County Code,State Code,Site Num,NO2 Mean,NO2 1st Max Value,NO2 1st Max Hour,NO2 AQI,O3 Mean,O3 1st Max Value,O3 1st Max Hour,O3 AQI,SO2 Mean,SO2 1st Max Value,SO2 1st Max Hour,SO2 AQI,CO Mean,CO 1st Max Value,CO 1st Max Hour,CO AQI
0,2000-01-01,13,4.0,3002.5,33.125000,75.5,20.0,73.5,0.021125,0.0395,9.5,33.5,2.365625,4.90,11.50,6.666667,0.858333,2.400,22.25,16.833333
1,2000-01-01,19,4.0,1011.0,15.208333,38.0,19.0,36.0,0.022917,0.0390,9.0,33.0,1.822917,3.15,5.00,6.000000,0.352193,1.000,21.00,8.000000
2,2000-01-02,13,4.0,3002.5,25.520833,57.5,21.0,56.0,0.013813,0.0295,10.0,25.0,1.658333,2.40,11.75,4.500000,0.736458,1.675,11.25,16.083333
3,2000-01-02,19,4.0,1011.0,18.500000,38.0,19.0,36.0,0.015708,0.0310,10.0,26.0,1.368750,2.00,9.00,3.000000,0.385069,0.750,4.50,9.000000
4,2000-01-03,13,4.0,3002.5,50.419643,110.5,13.5,81.0,0.012125,0.0240,15.5,20.5,3.120833,6.65,19.50,10.416667,1.523390,3.050,8.50,20.833333

In [12]:
dataArizona.to_csv('data/ArizonaGrouped.csv', ',', encoding='utf8')